*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    position: relative;
    height: 100vh;
    width: 100%;
    background: url('home2.jpg');
    background-size: cover;
}
.section{
    position: absolute;
    display: flex;
    flex-direction: column; /* Set to column for vertical layout */
    padding: 100px; 
    margin-top: 35px;
    animation: mymove 5s infinite;
    animation-delay: 2s;
    }
@keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
}
.sec1 h4{
    height: 50px;
    width: 500px;
    background: skyblue;
    font-size: 30px;
    
}
.sec1 p{
    font-size: 20px;
}

.sec2 h4{
    font-size: 30px;
    height: 50px;
    width: 500px;
    background: skyblue;
}
.sec2 p{
    font-size: 20px;
}
.sec3 h4{
    height: 50px;
    width: 500px;
    background: skyblue;
    font-size: 30px;
}
.sec3 p{
    font-size: 20px;
}
.sec4 h4{
    height: 50px;
    width: 500px;
    background: skyblue;
    font-size: 30px;
}
.sec4 p{
    font-size: 20px;
}
.topic h1{
    color: bisque;
    position: absolute;
    margin-top: 30px;
    left: 75px;
}